.dealSection {
  width: 100vw;
  background-color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width:80%;
 background-color: #ffffff;
  padding: 0 20px;
}

.dealContent {
  
  max-width: 45%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.productContent {
  
  max-width: 45%;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: end;
}

.productImage5 {
  width: 400px;
  max-width: 250px; 
 
  height: 500px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 20px;
}
.productImage6 {
  width: 350px;
  max-width: 150px; 
  margin: 0 0px;
  object-fit: cover;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 118px;
  
}
.productImage7 {
  width: 350px;
  max-width: 150px; 
  margin: 0 0px;
  margin-bottom: 175px;
  height: 340px;
  object-fit: cover;
}
.dealContent h1 {
  margin-bottom: 10px;
}

.dealContent p {
  margin-bottom: 20px;
}

.buyNow {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.buyNow:hover {
  background-color: #ffffff;
  color: #000000;
}
